.moviesList {
  max-width: 1170px;
  margin: 0 auto;
}

.moviesListItem {
  list-style: none;
}

.moviesImg {
  margin-right: 30px;
}

.movieContainer {
  display: flex;
  justify-content: baseline;
  margin-bottom: 20px;
  border: 1px solid blue ;
}

.navLink {
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
  color: #000;
}

.navLink:focus, 
.navLink:hover {
    color: orange;
}


